*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    display: flex;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo{
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
}

input[type="button"]{
    padding: 10px;
    border-radius: 10px;
}